
<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="irAlfinal()">Ir al Final</button>
    </div>
    <div class="col">
      <button class="btn btn-info" (click)="irAlMedio()">
          Ir al medio
      </button>
    </div>
    <div class="col text-right">
        <button class="btn btn-dark" (click)="irAlInicio()">Ir al Inicio</button>
    </div>
</div>

<cdk-virtual-scroll-viewport itemSize="45" class="list-container mt-3">
  <div class="list-group-item" *cdkVirtualFor="let item of items; let i = index; let total = count;">
    Item {{ i + 1 }} de {{ total }}
  </div>
</cdk-virtual-scroll-viewport>
